// @import 'sass-bootstrap/lib/bootstrap';
@import 'compass';
@import 'http://fonts.googleapis.com/css?family=Lato:100,300,400,900';
@import 'font-awesome/css/font-awesome.min.css';

// Colors
$bgcolor: black;
$textcolor: white;

$green-start: black;
$green-end: white;
$teal-start: black;
$teal-end: white;
$red-start: black;
$red-end: white;
$blue-start: black;
$blue-end: white;
$orange-start: black;
$orange-end: white;

// Width calc mixin
@mixin calc($property, $expression) { 
	#{$property}: -moz-calc(#{$expression}); 
	#{$property}: -o-calc(#{$expression}); 
	#{$property}: -webkit-calc(#{$expression}); 
	#{$property}: calc(#{$expression}); 
} 

@mixin notextselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body{
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-transform: translateZ(0);
	width: 100%;
	height: 100%;
}

html{
	@include notextselect;
	-webkit-transform: translate3d(0,0,0);
	background-color: black;
	height: 100%;
	width: 100%;
}

// @include background-image(linear-gradient(white, #aaaaaa));

#view{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	// padding-top: 44px;
	// @include box-sizing(border-box);
}

.pane{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $bgcolor;
	// font-size: 30pt;
	-webkit-transform: translateZ(0);
}

.control-container{
	@include box-sizing(border-box);
	// width: 50%;
	// height: 50%;
	// float: left;
	// overflow: auto;
	// background-color: black;
	padding: 3px;
	-webkit-transform: translateZ(0);
}

.control{
	@include box-sizing(border-box);
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 10px;
}

.show-fullscreen{
	// display:none;
	opacity: 0;
}

// .frozen{
// 	position: absolute;
// }

.active{
	position: absolute;
	z-index: 1000;
}

@mixin control{
	-webkit-transform: translate3d(0,0,0);
	// font-size: 40pt;
	.control-icon-container{
		width: 100%;
		float: left;
		position: absolute;
		top: 30%;
		
		text-align: center;


		.control-icon{
			font-size: 200%;
			width: 100%;
		}
	}

	.control-text{
		width: 100%;
		padding: 10px;
		position: absolute;
		top: 50%;
		margin-top: 10px;
		font-size: 40%;
		font-weight: 400;
		text-align: center;
		@include box-sizing(border-box);
	}

	.control-remove{
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 5px;
	}

	.control-description{
		width: 100%;
		padding: 10px;
		position: absolute;
		bottom: 20px;
		text-align: center;
		font-size: 30%;
		@include box-sizing(border-box);
	}
}


.shrink-icon-container{
	position: absolute;
	top: 0;
	left: 0;
	@include box-sizing(border-box);
	text-align: center;
	line-height: 0;
	padding: 10px;
	// font-size: 30pt;
	// max-width: 10%;

	span{
		font-size: 70%;
	}
}





.accelerometer .control{
	@include control;
	background-color: #ffc578; // Old browsers
	@include filter-gradient(#ffc578, #fb9d23, horizontal); // IE6-9 fallback on horizontal gradient
	@include background-image(linear-gradient(left top,  #ffc578 0%,#fb9d23 100%));
}

.switch .control{
	@include control;
	background-color: #93cede;
	@include filter-gradient(#93cede, #49a5bf, horizontal);
	@include background-image(linear-gradient(left top,  #93cede 0%,#49a5bf 100%));
}

.button .control{
	@include control;
	background-color: #cdeb8e;
	@include filter-gradient(#cdeb8e, #a5c956, horizontal);
	@include background-image(linear-gradient(left top,  #cdeb8e 0%,#a5c956 100%));
}

.slider .control{
	@include control;
	background-color: #a7cfdf;
	@include filter-gradient(#a7cfdf, #23538a, horizontal);
	@include background-image(linear-gradient(left top, #a7cfdf 0%,#23538a 100%));
}

.touchpad .control{
	@include control;
	background-color: #f2825b;
	@include filter-gradient(#f2825b, #f07146, horizontal);
	@include background-image(linear-gradient(left top, #f2825b 0%,#e55b2b 50%,#f07146 100%));
}

.gps .control{
	@include control;
	background-color: #cfe7fa;
	@include filter-gradient(#cfe7fa, #6393c1, horizontal);
	@include background-image(linear-gradient(left top,  #cfe7fa 0%,#6393c1 100%));
}

// .control{
// 	// @include box-sizing(border-box);
// 	width: calc(50% - 4px);
// 	height: calc(50% - 4px);
// 	// width: 50%;
// 	// height: 50%;
// 	// padding: 2px;
// 	background-color: white;
// 	border-radius: 10px;
// 	float: left;
// 	margin: 2px;
// }