<div class="controlbank">
	<p>Available controls:</p>
	<div class="control control-proto control-switch" data-control="switch">
		<span class="control-icon-container"><i class="control-icon icon-off"></i></span>
		<span class="control-text">Switch</span>
	</div>
	<div class="control control-proto control-accelerometer" data-control="accelerometer">
		<span class="control-icon-container"><i class="control-icon icon-rotate-right"></i></span>
		<span class="control-text">Accelerometer</span>
	</div>
	<div class="control control-proto control-button" data-control="button">
		<span class="control-icon-container"><i class="control-icon icon-exclamation"></i></span>
		<span class="control-text">Button</span>
	</div>
	<div class="control control-proto control-gps" data-control="gps">
		<span class="control-icon-container"><i class="control-icon icon-map-marker"></i></span>
		<span class="control-text">GPS</span>
	</div>
	<div class="control control-proto control-touchpad" data-control="touchpad">
		<span class="control-icon-container"><i class="control-icon icon-hand-up"></i></span>
		<span class="control-text">Touchpad</span>
	</div>
	<div class="control control-proto control-slider" data-control="slider">
		<span class="control-icon-container"><i class="control-icon icon-resize-vertical"></i></span>
		<span class="control-text">Slider</span>
	</div>
</div>