<div class="container">
	<h1>reactr.co/pockettanks</h1>

	<hr>

	<div class="row-fluid">
		<div class="span12">
			<p class="lead">Your controls: <button class="btn pull-right" data-toggle="modal" href="#availableControls">Add Control</button></p>
			<div id="controller"></div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="span12" id="controllerInfo">
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="span12">
			<p class="lead">Realtime logs:</p>
			<div id="logs"></div>
		</div>
	</div>


</div>